/*  Fonts */
$base-font: arial;
$base-font-size: 16px;
$body-color: #191b1e;

/* Colors */
$white: #fff;
$orange: #ea572a;
$sky: #5f9fff;
$violet: #6337ff;
$mint: #72ca97;
$accept: #50b85a;
$lime: #d9ff6c;
$gold: #ffb13e;
$error: #d63c32;
$grey-light: #d6dde9;
$grey-middle: #aeaeae;
$grey: #57697c;
$base-100: #f4f4f4;
$base-200: #e1e4ea;
$base-300: #555;
$base-400: #333;
$base-600: #222;
$base-900: #111;
$primary-500: #6a41f5;

/* Breakpoints */
$breakpoints: (
    mobile: 0,
    tablet: 768px,
    laptop: 1024px,
    desktop: 1280px,
    large-desktop: 1440px,
);

/* Transitions */
$default-transition: .3s ease;
