/*  Fonts */
$base-font: arial;
$base-font-size: 16px;
$body-color: #1e1e22;

/* Colors */
$white: #fff;
$accept: #50b85a;
$error: #d63c32;
$base-100: #f4f4f4;
$base-200: #e1e4ea;
$base-300: #afb4c0;
$base-400: #a3a9b9;
$base-600: #6e7585;
$base-900: #1e1e22;
$primary-100: #f0ecfe;
$primary-200: #d9cdfe;
$primary-300: #b5a0fa;
$primary-500: #6a41f5;
$primary-600: #5534c4;

/* Breakpoints */
$breakpoints: (
    mobile: 0,
    tablet: 768px,
    laptop: 1024px,
    desktop: 1280px,
    large-desktop: 1440px,
);

/* Transitions */
$default-transition: .3s ease;
