/*  Fonts */
$base-font: 'Golos Text', sans-serif;
$base-font-size: 16px;
$body-color: #1e1e22;

/* Colors */
$white: #fff;
$accept: #50b85a;
$error: #d63c32;
$base-100: #f4f4f4;
$base-200: #e1e4ea;
$base-300: #afb4c0;
$base-400: #a3a9b9;
$base-500: #858b99;
$base-600: #6e7585;
$base-900: #1e1e22;
$primary-100: var(--primary-100);
$primary-200: var(--primary-200);
$primary-300: var(--primary-300);
$primary-500: var(--primary-500);
$primary-600: var(--primary-600);
$primary-900: var(--primary-900);

/* Breakpoints */
$breakpoints: (
    mobile: 0,
    tablet: 768px,
    laptop: 1024px,
    desktop: 1280px,
    large-desktop: 1440px,
    x-large-desktop: 1940px,
);

/* Transitions */
$default-transition: .3s ease;
