// Для избежания вытекания стилей добавляем префикс widget-sova
.widget-sova-fade-enter-active,
.widget-sova-fade-leave-active {
    transition: opacity .3s ease;
}

.widget-sova-fade-enter,
.widget-sova-fade-leave-active {
    opacity: 0;
}

.widget-sova-fade-in-enter-active,
.widget-sova-fade-in-leave-active {
    transition: opacity .3s ease-in;
}

.widget-sova-fade-in-enter,
.widget-sova-fade-in-leave-active {
    opacity: 0;
}

.widget-sova-fade-abs-enter-active,
.widget-sova-fade-abs-leave-active {
    transition: opacity .3s ease;
}

.widget-sova-fade-abs-leave-active {
    position: absolute;
}

.widget-sova-fade-abs-enter,
.widget-sova-fade-abs-leave-to {
    opacity: 0;
}

.widget-sova-appear-enter-active,
.widget-sova-appear-leave-active {
    transition: all .3s ease;
}

.widget-sova-appear-enter,
.widget-sova-appear-leave-active {
    opacity: 0;
    transform: translateY(20px);
}

.widget-sova-carousel-enter-active,
.widget-sova-carousel-leave-active {
    transition: all .4s ease-out;
}

.widget-sova-carousel-enter {
    opacity: 0;
    transform: translateY(100%);
}

.widget-sova-carousel-leave-active {
    position: absolute;
    opacity: 0;
    transform: translateY(-100%);
}
